*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.divisao{
    display: flex;
    margin-top: 23px;
    gap: 40px;
}

.animation{
    background-image: url('images/ciclo-animacao.png'); 
    width: 58px;
    height: 87px;
    animation: ciclo-animacao 1s steps(8) infinite;
    position: relative;
    overflow-x: auto;
}

.animation::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #c48e84;
    animation: enlargeBlock .5s, revealBlock .5s .6s both;
}

@keyframes ciclo-animacao{
    from {background-position: 0px;}
    to {background-position: -464px;}
    /* from {background-position: -464px;}
    to {background-position: 0px;} */ /* da pra fazer indo e voltando assim*/
}

.animation-seg{
    background-image: url("images/ciclo-animacao.png");
    width: 300px;
    height: 150px;
    background-repeat: no-repeat;
    /* background-size: 100% 100%; se deixar 300/300 vai de uma quina a outra */
    animation: animation-t 10s ease infinite;
    object-fit: cover; /* faz a imagem caber na area desejada, amplia em distorcer*/
} 

@keyframes animation-t {
    0%{
        background-position: 0 50%;
    }
    
    50%{
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0 50%;
    }
}

.bloco{
    background-color: blue;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    animation: opacidade 4s ease infinite;
}


@keyframes opacidade{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.blocos{
    display: flex;
    flex-direction: column;
    height: 1000px;
}

.bloco-virar{
    margin-top:30px;
    margin-bottom: 100px;
    margin-left: 90px;
    width: 300px;
    height: 300px;
    background-color: red;
    animation: virar-transformar 2s ease infinite alternate;
}


@keyframes virar-transformar{
    0%{
        border: 0%;
        background-color: rgb(68, 228, 24);
    }
    50%{
        transform: rotate(.5turn);
        background-color: aqua;
        border-radius: 50% 0% 50% 0%;
    }
    100%{
        transform: rotate(-1turn);
        background-color: blueviolet;
        border-radius: 50% 50% 50% 50%;
    }

}

.divisao {
    margin-left: 50px;
}

.divisao h1{
    opacity: 0;
    animation: fadeintext 2s .6s both; 
}
/* both para manter animacao final */

@keyframes fadeintext{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.text-block{
    position: relative;
    overflow: hidden;
}

.text-block::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c48e84;
    animation: enlargeBlock .5s, revealBlock .5s .6s both;
}

@keyframes revealBlock {
    from {
        transform: translateX(0);
    }
    to{
        transform: translateX(100%);
    }
}

@keyframes enlargeBlock {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


h2{
    margin: 30px;
}

h2::after{
    content: "24424"; /* pode ter conteudo aqui dentro*/
    display: block; /* faz objeto ir para baixo ou para cima dependendo do after ou before*/
}
